.App {
  font-family: "DM Mono", "Inter", monospace;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 15px;
  margin: 10px 10px;
  background-color: #fdf5e6;
}

body {
  background-color: #fdf5e6;
  text-decoration: none;
  text-decoration-style: black;
  height: 100%;
}
